 <h1 id="how-to-use">how to use</h1>
        <div class="reason-div">
            <h3 class="header-three">record and track your emotions</h3>
            <p class="reason-p">check the boxes of all of the emotions you can recall feeling during the day.</p>
        </div>
        <div class="reason-div">
            <h3 class="header-three">log journal entries</h3>
            <p class="reason-p">talk about your day using the logging feature. make journal entries about specific things to look back on later.</p>
        </div>
        <div class="reason-div">
            <h3 class="header-three">view all logs</h3>
            <p class="reason-p">look back on older logs and use them to find patterns in your emotional well-being.</p>
        </div>

